$colors: (

        darker:#393939,
        dark: #100d0e,
        base: #8C9CAA,
        light: #d8d8d8,
        lighter: #f5fcfc,
        special : #C8BE8C,
        extra : #f80909
);
@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}