* {
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
}
@import "./variables";
@import "./maps";
@import "./sectionHero";
img {
  display: block;
  height: 100%;
}
.text-primary {
  color: color('base');
}
.text-secondary {
  color: color('special');
}
a {
  display: block;
  text-decoration: none;
  color: color('base');
}
ul {
  list-style: none;
}

h1 {
  font-family: 'Monserrat';
}
body {
  font-size: 13px;
  //color: rgb(85, 85, 85);
  background-image: url("../img/pattern10.png");
  line-height: 1;

}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
header {
  .container {
    display: flex;
   .logo-wrapp {
     display: inline-block;
     max-width: 700px;
     height: 100px;
     img {
       height: 100%;
     }

     a {

       font-family: 'Exo 2', sans-serif;
       font-weight: 700;
       font-size: 75px;
       text-shadow: 1px 1px 1px #000000;

     }


   }
    .main-navigation {
      position: relative;
      margin-left: auto;

      .main-nav {
      max-width: 100%;
      position: relative;
      top: 0;
      width: auto;
    ul.menu {

      line-height: 1.0;
      display: flex;
      li {
        margin-left: 20px;
        display: list-item;
        a {
          padding: 13px 0 16px;
          font-family: "Open Sans",sans-serif;
          font-weight: 800;
          letter-spacing: .1em;
          color: color('special');
          border-top: 4px solid rgba(98, 96, 96, 0 );

          transition: .4s ease-in-out;
           &.current,
          &:hover {
            color: color('lighter');
            border-top: 4px solid color('base') ;
          }

        }

      }

    }
    }
  }
}
}
